<div id='container'>
  <br>
  <div>Add new patterns:
    <form name='patternsForm' ng-submit="addLink()">
      <input type="text" name="patt-name" ng-model="name" placeholder="Pattern Name">
      </br>
      <input type="text" name="patt-source" ng-model="source" placeholder="Website">
      <br>
      <textarea name="patt-notes" ng-model="notes" placeholder="Enter notes or pattern" cols="30" rows="8"></textarea>
      <br>
      <select ng-model="craft " ng-options="x for x in listOfCrafts ">
      </select>
      <br><br>
      <button ng-click="save()" ng-submit='values'>Submit</button>
      <br>
      <div>New Pattern Added: {{ values }}</div>
      <br>
      <div ng-click=" ">View All Patterns</div>
      <div ng-repeat="pattern in allPatterns">test{{ allPatterns }}</div>
    </form>
  </div>
</div>
