<div id='container'><br>
  <div>
  <div>Add new patterns:<div>
    <form name='patternsForm' ng-submit="addLink()">
      <input type="text" name="patterns.name" ng-model="name" placeholder="Pattern Name" required ng-class="" />
      </br>
      <input type="url" name="patterns.source" ngmodel="source" placeholder="Website">
      <br>
      <input type="text" name="patterns.notes" ngmodel="notes" placeholder="Enter notes or pattern here">
      <br>
      <select ng-model="listOfCrafts" ng-options="x for x in listOfCrafts">
      </select>
      <button onclick="">Submit</button><br>
      <div ng-click="toggle()">View All Patterns</div>
    </form>
  </div>
</div>
